<section id="team" class="content-center">
        <h2>Team</h2>
        <div class="grid-flex-container">
            <div class="grid-flex-cell">
                <div class="illustration">
                    <img src="/images/ipfs-illustration-archivists.svg" />
                </div>
                <h5>Archivists</h5>
                <p>It's not enough to organize the world's information—we need to store it in a way the world can remember it. IPFS provides deduplication, high performance, and clustered persistence.</p>
            </div>
            <div class="grid-flex-cell service-providers">
                <div class="illustration">
                    <img src="/images/ipfs-illustration-service.svg" />
                </div>
                <h5>Service providers</h5>
                <p>If your company delivers large amounts of data to users, a peer-to-peer approach could save you millions in bandwidth. IPFS can provide secure P2P content delivery.</p>
            </div>
            <div class="grid-flex-cell">
                <div class="illustration">
                    <img src="/images/ipfs-illustration-data.svg" />
                </div>
                <h5>Researchers</h5>
                <p>If you're working with, distributing, and analyzing huge datasets, IPFS offers fast performance and decentralized archiving.</p>
            </div>
        </div>
    </section>